* {
  /* This property allows us to include the padding and border in an element's total width and height. */
  box-sizing: border-box;
  /* This property is used to generate space around an element's content, inside of any defined borders. */
  padding: 0;
  /* This property is used to create space around element, outside of any borders */
  margin: 0;
  font-family: sans-serif;
}
 
body {
    /* sets the background color of the page */
    background-color: #d9dcd6;
  }

.header{
  padding: 20px;
  /* This property specifies the font for an element */
  background-color: #2a607c;
  /* This property specifies the color of text. */
  color: #ffffff;
}
.header h1{
    /* display: inline-block allows to set a width and height on the element respecting top and bottom margins/paddings. */
    display: inline-block;
    /* This property property sets the size of a font */
    font-size: 48px;
}

.header nav {
  padding-top: 15px;
  /* This property sets the right margin of an element */
  margin-right: 20px;
  /* This property defines how an element should float */
  float: right;
  font-size: 20px;
}

header nav ul{
  list-style-type: none;
}

header nav ul li{
  display: inline-block;
  /* This property sets the left margin of an element */
  margin-left: 25px;
} 

a {
  color: #ffffff;
}

.sideheader{
  font-size: 40px;
  color: darkcyan;
  border-right-style: solid;
  padding: 1rem;
  width: 20%;
  display: inline;
  clear: both;
  float: left;
  margin-top: 1rem;
}

.alignright{
  float: left;
}
.hero1{
    /* This property sets the height of an element. */
    height: 60vh;
    /* This property sets the width of an element. */
    width: 100%;
    /* This property sets the bottom margin of an element */
    margin-bottom: 25px;
    /* This property set the background image */
    background-image: linear-gradient(lightblue, lightgray);
    /* background-repeat: ; */
    /* background-image: url("../images/background.jpg"); */
    /* This property specifies the size of the background images. */
    background-size: cover;
    /* This property specifies the position of the background images. */
    background-position: center;
    margin: 0%;
}

/* Bottom right text */
.bottom-right {
  display: inline-block;
  position: absolute;
  right: 16px;
  top:60%;
  transform: translate(-50%, -50%);
  font-size: 1.8rem;
  font-weight:bold;
  color: white;
  
}

/* Container 80%, Sidebar 20% */
.container {
  border-width: 1px;
  padding: 10px;
  float: left;
  width: 80%;
}
/* Set the image container to flex and wrap childs */
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
/* Image spacing between each other per row */
.col {
 flex-basis: 30%;
 margin: 20px 20px;
}

/* Same image sizes */
.imgDiv img {
  height: 200px;
  width: 300px;
  border: 1px solid #ccc;
}
.imgDiv:hover {
  transform: scale(2.0); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.containerp{
  float: left;
  padding-left: 1rem;
  width: 75%;
  margin-top: 1rem;
}

.text-box{
  /* padding: 15px;
  text-align: center; */
}

  .contact{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 80%;
 
}

  .contact li{
  display:inline-block;
  padding: 16px;

  }

  .contact li a{
  display: block;
  color: black;
  text-align: center;
  }

  li a:hover {
    background-color: gray;
  }
  
  header nav ul li{
    display: inline-block;
    /* This property sets the left margin of an element */
    margin-left: 25px;
  }
  /* Cards are split into two columns at 992px or smaller */
@media screen and (max-width: 992px) {
    .container {
      width: 50%;
    }
  }
  
  /* Cards are stacked on top of each other at 768px or smaller */
  @media screen and (max-width: 768px) {
    .container {
      width: 100%;
    }
  }
