/* xs */
img {
    width: 100px;
    height: auto;
  }
  /* sm */
  @media (min-width: 768px) {
    img {
        width: 150px;
    }
  }
  /* md */
  @media (min-width: 992px) {
    img {
        width: 200px;
    }
  }
  /* lg */
  @media (min-width: 1200px) {
    img {
        width: 250px;
    }
  }
  